:host {
	all: initial;
	display: block;

	height: 6vh;

	display: flex;
	justify-content: center;
	align-items: center;

	gap: 20px;

}

:host a {
	font-weight: bold;
	font-size: 1.5em;

	text-decoration: none;
	color: black;
}