div {
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

article {
	max-width: 1000px;
	width: 100%;
	height: min-content;

	display: grid;
	align-items: center	;
	/* grid-template-columns: repeat(2, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
}

.montevirginio {
	background-image: url('../assets/montevirginio.jpg');
}

.eremo {
	background-image: url('../assets/eremo.jpg');
}

img {
	max-width: 100%;
}

picture {
	display: flex;
	justify-content: center;
	align-items: center;

	background-size: conver;
	background-repeat: no-repeat	;
	background-position: center;
}

aside {
	height: min-content;

	display: grid;
	place-items: start center;

	padding: 10%;
	box-sizing: border-box;
}

p {
	width: 100%;
	
	margin: unset;

	text-align: justify;
}