form {
	width: 600px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 10px;
}

.field {
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 4fr;
}