div {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

form {
	width: 600px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 10px;
}

.field {
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 6fr;
	align-items: flex-end;
}

.submit {
	display: grid;
	grid-template-columns: 6fr 1fr;

	gap: 20px;
}

.field label {
	text-align: left;
}

form div {
	text-align: center;
	font-weight: bold;
}

hr {
	width: 100%;
	border: unset;
	border-bottom: 1px solid lightgray;
}